/* TODO
        
*/
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  font-family: "Open Sans", "Calibri", serif;
  padding-left: 0;
  margin-left: 0;
  position: fixed;
  z-index: 5; }

/* Style the links inside the navigation bar */
.navbar a {
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
  /* text-align: center; */
  /* padding: 5vh 10vw; */
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-decoration: none;
  font-size: 25px;
  opacity: .65; }

.navbar a p {
  padding-top: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center; }

/*Icons for the navbar*/
.fa {
  text-align: center;
  font-size: 40px; }

/* Nav Menu */
.searchMenu {
  height: 0px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #212024;
  overflow-x: hidden;
  transition: 0.4s;
  z-index: 1; }
  .searchMenu.open {
    height: 100vh; }
  .searchMenu.close {
    height: 0vh; }

ul.genreList {
  padding-left: 0;
}
.genreMenu {
  height: 0px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #212024;
  overflow-x: hidden;
  transition: 0.4s;
  z-index: 1; }
  .genreMenu.open {
    height: 100vh; }
  .genreMenu.close {
    height: 0vh; }

.ratingsMenu {
  height: 0px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #212024;
  overflow-x: hidden;
  transition: 0.4s;
  z-index: 1; }
  .ratingsMenu.open {
    height: 100vh; }
  .ratingsMenu.close {
    height: 0vh; }

.famRatingsMenu {
  height: 0px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #212024;
  overflow-x: hidden;
  transition: 0.4s;
  z-index: 1; }
  .famRatingsMenu.open {
    height: 100vh; }
  .famRatingsMenu.close {
    height: 0vh; }

#searchTest {
  color: green;
  text-decoration: none;
  list-style-type: none;
  font-size: 5vh; }

ul {
  list-style-type: none; }

/* Landing Page */
body {
  background-color: #121116;
  margin: 0;
  color: rgba(218, 231, 214, 0.678); }

.genreMenu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-decoration: none;
  overflow: hidden;
  font-size: 3vh;
  flex-wrap: wrap; }

.genreList li {
  flex: 1 0 30%;
  /* explanation below */
  margin: 5px; }

#Adventure {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #dddddd; }
  #Adventure p {
    padding-top: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 6vw; }

#Adventure > span {
  font-size: 15vw; }

#Action {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #dddddd; }
  #Action p {
    padding-top: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 6vw; }

#Action > span {
  font-size: 15vw; }

#Sports {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #dddddd; }
  #Sports p {
    padding-top: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 6vw; }

#Sports > span {
  font-size: 15vw; }

/*# sourceMappingURL=index.css.map */
